{% extends "base.html" %}


{% block title %}动物星球-老虎{% endblock %}
{% block content %}
<P></P><p></p>	
<div class="row">
    <div class="col-sm-6 col-md-4">
         <div class="thumbnail">
            <img src="../static/img/hot_section/machili.jpg" 
             alt="玛琪莉">
            <div class="caption">
                <h3>玛琪莉</h3>
                <p>伦滕波尔虎女王，鳄鱼杀手</p>
				<a class="btn btn-primary" href="{{ url_for('page.machili') }}">查看详情</a>
            </div>
         </div>
    </div>
	<div class="col-sm-6 col-md-8">
		<span class="glyphicon glyphicon-fire text-danger" style="font-size:20px;"></span>
		<div class="panel panel-danger" style="display:inline-block;width:90%;">
			<div class="panel-heading">
				<h3 class="panel-title text-center"><b>玛琪莉</b></h3>
			</div>
		</div>
		<p></p>
		<dl class="dl-horizontal lead text-primary">
			<dt>出生年份</dt>
				<dd>1996年</dd>
			<dt>出生地</dt>
				<dd>印度伦滕波尔国家公园</dd>
			<dt>性别</dt>
				<dd>雌性</dd>
			<dt>亚种</dt>
				<dd>孟加拉虎</dd>
			<dt>头衔</dt>
				<dd>湖上夫人，伦滕波尔虎女王</dd>
			<dt>主要事迹</dt>
				<dd>
					<ul>
						<li>世界上参与拍摄最多的野生老虎</li>
						<li>大战鳄鱼，被称为鳄鱼杀手</li>
						<li>寿命最长的野生雌虎</li>
						<li>对老虎种群繁衍和印度经济增长做出突出贡献</li>
						<li>死后人类为她准备了盛大的葬礼</li>
					</ul>
				</dd>			
		</dl>
	</div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
         <div class="thumbnail">
            <img src="../static/img/hot_section/lajia.jpg" 
             alt="拉贾">
            <div class="caption">
                <h3>拉贾</h3>
                <p>鬼畜筋肉虎，单杀野牛</p>
				<a class="btn btn-primary" href="{{ url_for('page.machili') }}">查看详情</a>
            </div>
         </div>
    </div>
	<div class="col-sm-6 col-md-8">
		<span class="glyphicon glyphicon-fire text-danger" style="font-size:20px;"></span>
		<div class="panel panel-danger" style="display:inline-block;width:90%;">
			<div class="panel-heading">
				<h3 class="panel-title text-center"><b>拉贾</b></h3>
			</div>
		</div>
		<p></p>
		<dl class="dl-horizontal lead text-primary">
			<dt>出生年份</dt>
				<dd>2005年</dd>
			<dt>出生地</dt>
				<dd>印度班迪普尔自然保护区</dd>
			<dt>性别</dt>
				<dd>雄性</dd>
			<dt>亚种</dt>
				<dd>孟加拉虎</dd>
			<dt>头衔</dt>
				<dd>鬼畜筋肉虎，野牛杀手</dd>
			<dt>主要事迹</dt>
				<dd>
					<ul>
						<li>四岁时杀死父亲，夺得王位</li>
						<li>单杀白肢野牛</li>
						<li>数次单杀竞争者，战力爆表</li>
					</ul>
				</dd>			
		</dl>
	</div>	
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
         <div class="thumbnail">
            <img src="../static/img/hot_section/charger.jpg" 
             alt="拉贾">
            <div class="caption">
                <h3>查吉尔</h3>
                <p>统治班达迦公园近10年</p>
				<a class="btn btn-primary" href="{{ url_for('page.machili') }}">查看详情</a>
            </div>
         </div>
    </div>
	<div class="col-sm-6 col-md-8">
		<span class="glyphicon glyphicon-fire text-danger" style="font-size:20px;"></span>
		<div class="panel panel-danger" style="display:inline-block;width:90%;">
			<div class="panel-heading">
				<h3 class="panel-title text-center"><b>查吉尔</b></h3>
			</div>
		</div>
		<p></p>
		<dl class="dl-horizontal lead text-primary">
			<dt>出生年份</dt>
				<dd>1984年</dd>
			<dt>出生地</dt>
				<dd>印度班达迦国家公园</dd>
			<dt>性别</dt>
				<dd>雄性</dd>
			<dt>亚种</dt>
				<dd>孟加拉虎</dd>
			<dt>头衔</dt>
				<dd>臭名昭著的恶霸虎</dd>
			<dt>主要事迹</dt>
				<dd>
					<ul>
						<li>四岁时杀死父亲，夺得王位</li>
						<li>数次单杀竞争者，战力爆表</li>
						<li>脾气暴躁，曾攻击车辆，恐吓大象</li>
						<li>死后管理员为其立碑</li>
					</ul>
				</dd>			
		</dl>
	</div>	
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
         <div class="thumbnail">
            <img src="../static/img/hot_section/kzt085.jpg" 
             alt="拉贾">
            <div class="caption">
                <h3>kzt085</h3>
                <p>体型巨大的虎王</p>
				<a class="btn btn-primary" href="{{ url_for('page.machili') }}">查看详情</a>
            </div>
         </div>
    </div>
	<div class="col-sm-6 col-md-8">
		<span class="glyphicon glyphicon-fire text-danger" style="font-size:20px;"></span>
		<div class="panel panel-danger" style="display:inline-block;width:90%;">
			<div class="panel-heading">
				<h3 class="panel-title text-center"><b>kzt085</b></h3>
			</div>
		</div>
		<p></p>
		<dl class="dl-horizontal lead text-primary">
			<dt>出生年份</dt>
				<dd>不详</dd>
			<dt>出生地</dt>
				<dd>印度卡齐兰加自然保护区</dd>
			<dt>性别</dt>
				<dd>雄性</dd>
			<dt>亚种</dt>
				<dd>孟加拉虎</dd>
			<dt>头衔</dt>
				<dd>最强虎王，凯皇</dd>
			<dt>主要事迹</dt>
				<dd>
					<ul>
						<li>三岁半就杀死强大的地主雄虎</li>
						<li>单杀两吨重的犀牛和一只雄虎</li>
					</ul>
				</dd>			
		</dl>
	</div>	
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
         <div class="thumbnail">
            <img src="../static/img/hot_section/dale.jpg" 
             alt="拉贾">
            <div class="caption">
                <h3>戴尔</h3>
                <p>捕熊高手</p>
				<a class="btn btn-primary" href="{{ url_for('page.machili') }}">查看详情</a>
            </div>
         </div>
    </div>
	<div class="col-sm-6 col-md-8">
		<span class="glyphicon glyphicon-fire text-danger" style="font-size:20px;"></span>
		<div class="panel panel-danger" style="display:inline-block;width:90%;">
			<div class="panel-heading">
				<h3 class="panel-title text-center"><b>戴尔</b></h3>
			</div>
		</div>
		<p></p>
		<dl class="dl-horizontal lead text-primary">
			<dt>出生年份</dt>
				<dd>不详</dd>
			<dt>出生地</dt>
				<dd>阿穆尔虎工程研究中心</dd>
			<dt>性别</dt>
				<dd>雄性</dd>
			<dt>亚种</dt>
				<dd>东北虎</dd>
			<dt>头衔</dt>
				<dd>棕熊杀手</dd>
			<dt>主要事迹</dt>
				<dd>
					<ul>
						<li>三年之内共杀死6头成年熊</li>
					</ul>
				</dd>			
		</dl>
	</div>	
</div>
{% endblock %}