<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h3 class="panel-title">对手一</h3>
		</div>
		<div class="panel-body box">
			<div class="col-md-6">
				<img src="../static/img/arena/tiger.jpg" class="img-zoom">
				<div class="caption">
					<h3 class="text-danger text-center">虎</h3>
				</div>
			</div>
			<div class="col-md-6">
				<img src="../static/img/arena/bear.jpg" class="img-zoom">
				<div class="caption">
					<h3 class="text-danger text-center">熊</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h3 class="panel-title">对手二</h3>
		</div>
		<div class="panel-body box">
			<div class="col-md-6">
				<img src="../static/img/arena/anaconda.jpg" class="img-zoom">
				<div class="caption">
					<h3 class="text-danger text-center">森蚺</h3>
				</div>
			</div>
			<div class="col-md-6">
				<img src="../static/img/arena/jaguar.jpg" class="img-zoom">
				<div class="caption">
					<h3 class="text-danger text-center">美洲虎</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h3 class="panel-title">对手三</h3>
		</div>
		<div class="panel-body box">
			<div class="col-md-6">
				<img src="../static/img/arena/crocodile.jpg" class="img-zoom">
				<div class="caption">
					<h3 class="text-danger text-center">尼罗鳄</h3>
				</div>
			</div>
			<div class="col-md-6">
				<img src="../static/img/arena/lion.jpg" class="img-zoom">
				<div class="caption">
					<h3 class="text-danger text-center">非洲狮</h3>
				</div>
			</div>
		</div>
	</div>
</div>