{% if i % 2 == 0%}
<div class="panel panel-info">
{% else %}
<div class="panel panel-warning">
{% endif %}
	<div class="panel-heading">
		<h4 class="panel-title">
			<a class="link" data-toggle="collapse" data-parent="#dwyw" href="#dwyw-collapse{{ i }}">
				{{ dwyw[i] }}
			</a>
		</h4>
	</div>
	<div id="dwyw-collapse{{ i }}" class="panel-collapse collapse">
		<div class="panel-body">
			<a href="{{ url_for('main.article', title=dwyw[i]) }}"><img src="static/img/dwyw/test{{ i }}.jpg" alt="详细信息"></a>
		</div>
	</div>
</div>