<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title text-center">								
								孤岛惊魂系列
								<span class="label label-warning">推荐</span>
							</h4>
						</div>						
						<div class="panel-body">
							<img src="../static/img/games/farcry.jpg" class="img-responsive img-rounded">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title text-center">
								动物园之星
							</h4>
						</div>						
						<div class="panel-body">
							<img src="../static/img/games/planet-zoo.jpg" class="img-responsive img-rounded">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title text-center">
								猎人：野性的呼唤
							</h4>
						</div>						
						<div class="panel-body">
							<img src="../static/img/games/hunter.jpg" class="img-responsive img-rounded">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>