<div class="row">
	<div class="col-md-6">
		<a href="../static/img/sjjd/crocodile.jpg" target="_blank">
		<img src="../static/img/sjjd/crocodile.jpg" class="img-responsive img-rounded shijue">
		</a>
	</div>
	<div class="col-md-6">
		<a href="../static/img/sjjd/eagle.jpg" target="_blank">
		<img src="../static/img/sjjd/eagle.jpg" class="img-responsive img-rounded shijue">
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<a href="../static/img/sjjd/tiger.jpg" target="_blank">
		<img src="../static/img/sjjd/tiger.jpg" class="img-responsive img-rounded shijue">
		</a>
	</div>
	<div class="col-md-6">
		<a href="../static/img/sjjd/wolf.jpg" target="_blank">
		<img src="../static/img/sjjd/wolf.jpg" class="img-responsive img-rounded shijue">
		</a>
	</div>
</div>