<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h3 class="panel-title">视频标题一</h3>
		</div>
		<div class="panel-body">
			<video id="android-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="320" height="200"
			   poster="../static/img/post.jpg" data-setup="{}" style="width: 100%">
				<source src="../static/video/testVideo.mp4" type="video/mp4">
			</video> 
		</div>
		<div class="panel-footer clearfix">
			<a href="#" style="text-decoration:none;float:left;margin-right:10px;">
				<span class="glyphicon glyphicon-thumbs-up"></span>
			</a>
			<a href="#" style="float:left;">
				<span class="glyphicon glyphicon-heart"></span>
			</a>
			<a href="#" style="float:right;">
				<span class="glyphicon glyphicon-star"></span>
			</a>			
		</div>

	</div>
</div>