<div class="tab-content">
	<div class="tab-pane fade in active" id="region">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<p class="lead text-center text-warning"><strong>国内网站</strong></p>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-4"><h4><a href="https://tv.cctv.com/yxg/index.shtml#datacid=jlp&datapd=&datafl=自然&fc=纪录片&datanf=&dataszm=" target="_blank">
								CCTV央视网</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站2</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站3</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站4</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站5</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站6</a></h4></div>
						</div>
					</div>					
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-3">
						<p class="lead text-center text-warning"><strong>国外网站</strong></p>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-4"><h4><a href="#">网站1</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站2</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站3</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站4</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站5</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站6</a></h4></div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="animal">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<p class="lead text-center text-warning"><strong>老虎</strong></p>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-4"><h4><a href="https://tv.cctv.com/yxg/index.shtml#datacid=jlp&datapd=&datafl=自然&fc=纪录片&datanf=&dataszm=" target="_blank">
								网站1</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站2</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站3</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站4</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站5</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站6</a></h4></div>
						</div>
					</div>					
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-3">
						<p class="lead text-center text-warning"><strong>狮子</strong></p>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-4"><h4><a href="#">网站1</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站2</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站3</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站4</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站5</a></h4></div>
							<div class="col-md-4"><h4><a href="#">网站6</a></h4></div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>