{% extends "base.html" %}


{% block content %}
	<p></p>
	<div class="row">
		<div class="col-md-3">
			<a href="{{ url_for('auth.change_avatar') }}">
				{% if user.real_avatar %}
				<img class="img-circle profile-thumbnail" src="{{ user.real_avatar }}" 
					height="256" width="256"/>
				{% else %}
				<img class="img-circle profile-thumbnail" 
					src="../static/avatars/default.jpg" height="256" width="256"/>
				{% endif %}
			</a>
		</div>
		<div class="col-md-9">
			<h1>用户: {{ user.username }}</h1>
			{% if user.about_me %}<p><h4>{{ user.about_me }}</h4></p>{% endif %}
			{% if user.last_seen %}<p>上次登录: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
			<h4>关注 {{ user.followed.count() }}, 粉丝 {{ user.followers.count() }}</h4>
			<!-- 查看自己主页时可以编辑，查看别人的主页时则不能编辑 -->
			{% if user == current_user %}
			<p><a href="{{ url_for('auth.edit_profile') }}">编辑个人信息</a></p>
			{% elif not current_user.is_following(user) %}
			<p><a href="{{ url_for('auth.follow', username=user.username) }}" class="btn btn-primary">关注</a></p>
			{% else %}
			<p><a href="{{ url_for('auth.unfollow', username=user.username) }}" class="btn btn-primary">取消关注</a></p>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<hr>
		{% for comment in comments %}
		<p>
		{{ comment.user.username }} 发表评论{{ moment(comment.timestamp).fromNow() }}: <b>{{ comment.body }}</b>
		</p>
		{% endfor %}
	</div>
{% endblock %}